# Build output
bin/
obj/

# Visual Studio / Rider / IDE files
*.user
*.suo
*.vs/
*.vscode/
*.idea/

# Visual Studio Code settings
.vscode/

# NuGet packages
*.nupkg
packages/

# Resharper files
_ReSharper*/
*.DotSettings.user

# OS files
.DS_Store
Thumbs.db
